/*--
Author: AnyaWebSolution
Author URL: http://anyawebsolution.com
 --*/
body,
html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    scroll-behavior: smooth;
    min-height:200vh;
}

body a,
.btn,
button {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}
header,article,section,aside,footer{
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
}

p {
    margin: 0;
    color: #7c7c7c;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.9em;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

body img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o- border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}

.clr {
    color: #fff;
}

/* header */


/* navbar part */
.navbar{
    min-height: 75px;
}
.navbar-nav span{
    display: none;
}
.navbar-brand{
    font-size: 26px;
}
.navbar img{
    width: auto;
    height: 60px;
    line-height: 50px;
}
.nav-item a{
    font-size: 16px;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: rgb(40, 164, 221);
}
.navbar-toggler-icon{
    color: black;
}
.menutraining{
    width: 70%;
    height: auto;
    padding: 2%;
    position: absolute;
    left: 25%;
}
.menutraining .col-megamenu .title{
    font-size: 20px;
    color: rgb(21, 157, 206);
    margin-bottom: 5%;
}
.menutraining .col-megamenu .list-unstyled li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 28px;
}
.menuservice{
    width: 70%;
    height: auto;
    padding: 2%;
    position: absolute;
    left: 29%;
}
.menuservice .col-megamenu .title{
    font-size: 20px;
    color: rgb(21, 157, 206);
    margin-bottom: 5%;
}
.menuservice .col-megamenu .list-unstyled li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 28px;
}
/* navbar part */

/* header */

/* banner */
.carousel-caption{
    text-align: left;
    position: absolute;
    top: 40%;
    left: 2%;
}
.carousel-caption h5{
    font-size: 2.5rem;
    color: black;
}
/* banner */ 
/* training course */
#training{
    padding: 5% 0;
}
#training h1{
    margin-bottom: 2.5%;
}
#training .wrap{
    padding: 2% 0;
    display:flex ;
    justify-content: space-between;
}
#training .wrap .box{
    width: 100%;
    padding: 8% 0;
    box-shadow: 1px 1px 10px 2px rgb(214, 214, 214);
    border-radius: 6px;
    transition: all 0.3s ease;
}
#training .wrap .box span{
    margin: 2% 0 8% 0;
    padding: 6%;
}
#training .wrap .box h5{
    margin: 0 0 5% 0;
}
.wrap .box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8{
    color: black;
}
.wrap .box1:hover {
    background-color: #554749;
    color: white;
}
.wrap .box2:hover{
    background-color: #443e5a;
    color: white;
}
.wrap .box3:hover{
    background-color: #263141;
    color: white;
}
.wrap .box4:hover{
    background-color: #1f4139;
    color: white;
}
.wrap .box5:hover{
    background-color: #19351e;
    color: white;
}
.wrap .box6:hover{
    background-color: #5c2d56;
    color: white;
}
.wrap .box7:hover{
    background-color: #494e28;
    color: white;
}
.wrap .box8:hover{
    background-color: #4e2429;
    color: white;
}
/* training course */

/* services */
#services{
    padding: 5% 0;
    background: rgba(245, 245, 245, 0.322);
}
#services h1{
    margin-bottom: 2.5%;
}
#services .wrap{
    padding: 2% 0;
    display:flex ;
    justify-content: space-between;
}
#services .wrap .box{
    padding: 2% 0;
    border-radius: 6px;
}
#services .wrap .box img{
    margin: 2% 0 8% 0;
    padding: 2%;
}
#services .wrap .box h5{
    margin: 0 0 5% 0;
}
/* services */

/* testimonial */
#testimonial{
    padding: 5% 0;
    background: url('../images/back.png');
    background-attachment: fixed;
    background-position: right;
}
#testimonial h1{
    margin-bottom: 5%;
}
#client-testimonial-carousel {
    min-height: 200px;
}
.testi{
    background: white;
    color: black;
    padding: 2% 0;
    border-radius: 6px;
}
/* testimonial */

/* about us banner */
#banner-1 img{
    width: 100%;
    height: 300px;
    border-radius: 0px;
}
/* about us banner */

/* about us */
#about-us{
    padding: 5% 0;
}
#about-us h2{
    font-size: 38px;
    padding-bottom: 1.2%;
    margin-bottom: 3%;
    border-bottom: 2px solid orange
}
#about-us p{
    font-size: 15.2px;
    line-height: 36px;
}
#about-us img{
    width: 100%;
    height: auto;
}
/* about us */

/* team slider */
#team{
    padding: 5% 0;
}
/* team slider*/

/* contact banner */
#banner-2 img{
    width: 100%;
    height: 300px;
    border-radius: 0px;
}
/* contact banner */

/* googlemap */
#contact{
    padding: 5% 0;
}
#contact h2{
    margin-bottom: 3%;
}
#contact iframe{
    border-radius: 5px;
    margin-top: 5%;
}
#contact i{
    display: block;
    line-height: 90px;
    color: rgb(21, 157, 206);
}
#contact input{
    outline: none;
    height: 49px;
}
#contact textarea{
    outline: none;
}
.control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn{
    padding: 1% 2.5%;
    background: #27c971;
    border: 2px solid #27c971;
    transition: 0.6s ease;
}
.btn:hover{
    background: none;
    color: #27c971;
    border: 2px solid #27c971;
}
/* googlemap */

/* footer */
.footer{
    padding: 5% 0 3% 0;
}
.footer h4{
    margin-bottom: 8%;
}
.footer i{
    color: rgb(66, 173, 245);
}
.footer .Links i{
    color: white;
}
.footer .info{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: 'Open Sans', sans-serif;
}
footer ul li{
    line-height: 34px;
}
footer ul li a{
    color: white;
}
.footer p{
    color: white;
}
.footer .Links{
    width: 100%;
    margin: 5% 2% 0 2%;
}
.footer .Links .icons i{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    padding: 3% 2.85%;
}
.footer .Links .icons .fa-facebook-f:hover{
    color: rgb(13, 113, 207);
}
.footer .Links .icons .fa-twitter:hover{
    color: rgb(13, 146, 207);
}
.footer .Links .icons .fa-instagram:hover{
    color: rgb(228, 59, 144);
}
.footer .Links .icons .fa-youtube-play:hover{
    color: rgb(192, 22, 45);
}
.footer .Links .icons .fa-linkedin:hover{
    color: rgb(22, 152, 192);
}
/* footer */
@media all and (max-width: 991px) {
    #training .wrap .box{
        margin: 8% 0;
    }
}
@media all and (min-width: 992px) {
    .navbar{ padding-top: 0; padding-bottom: 0;}
    .navbar .has-megamenu{position:static!important;}
    /* .navbar .menutraining{left:0; right:0; width:100%; padding:20px;  } */
    .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}

@media screen and (min-width: 766px) and (max-width: 990px)
{
    .menutraining{
        width: 100%;
        padding: 5%;
    }
    .menuservice{
        width: 100%;
        padding: 5%;
    }
    .carousel-caption h5{
        font-size: 1.6rem;
        color: black;
    }
}
@media screen and (max-width: 575px)
{
    .footer .Links .icons i{
        border: none;
        padding: 3% 2.85%;
    }
}
@media screen and (max-width: 766px)
{
    .navbar .navbar-nav{
        position: relative;
        height: 70vh;
        text-align: center;
        width: 100%;
        background: #242526;
        display: block;
        top: 0;
        left: 0;
        line-height: 50px;
        padding: 50px 10px;
        z-index: 1;
        box-shadow: 0 15px 15px rgba(0,0,0,0.15);
        overflow-y: scroll;
    }
    .navbar-nav span{
        display: block;
        color: white;
        position: absolute;
        top: 15px;
        left: 92%;
    }
    .nav-link{
        color: white;
    }
    .nav-link:hover{
        color: rgb(40, 164, 221);
    }
    .navbar-nav li{
        margin: 15px 10px;
    }
    .navbar-nav li a{
        padding: 0 20px;
        display: block;
        font-size: 20px;
        line-height: 50px;
    }
    .navbar-nav .dropdown-menu{
        position: static;
        opacity: 1;
        visibility: visible;
        top: 65px;
        padding-left: 20px;
        width: 100%;
    }
    .navbar-nav .dropdown-menu li{
        margin: 0;
    }
    .navbar-nav .dropdown-menu li a{
        font-size: 18px;
        border-radius: 5px;
    }
    .menutraining{
        position: static;
        top: 65px;
        background: #242526;
        width: 100%;
        opacity: 1;
        visibility: visible;
        padding: 5%;
    }
    .menutraining .content{
        flex-direction: column;
    }
    .menutraining .content .row{
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.08);   
    }
    .menutraining .content .row li i{
        display: none;
    }
    .menutraining .content .row li a{
        width: 100%;
        color: white;
        line-height: 30px;
        padding: 0;
    }
    .menuservice{
        position: static;
        top: 65px;
        background: #242526;
        width: 100%;
        opacity: 1;
        visibility: visible;
        padding: 5%;
    }
    .menuservice .content{
        flex-direction: column;
    }
    .menuservice .content .row{
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.08);   
    }
    .menuservice .content .row li i{
        display: none;
    }
    .menuservice .content .row li a{
        width: 100%;
        color: white;
        line-height: 30px;
        padding: 0;
    }
    #banner-1 img{
        width: 100%;
        height: 180px;
        border-radius: 0px;
    }
    #banner-2 img{
        width: 100%;
        height: 180px;
        border-radius: 0px;
    }
    .carousel-caption h5{
        width: 70%;
        font-size: 0.9rem;
        color: black;
    }
}